<!DOCTYPE html>
<html>
	<head>
		<!--
		<script type="text/javascript" src="/static/js/myjsSelectProject.js"></script>
		-->
		<script>
			$(document).ready(function(){
				 var alltablechild = $("table tbody").children();	//所有的tr
				 var firsttablechild = alltablechild.eq(0);			//第一个tr
				 for(var i=0;i<alltablechild.length -1;i++){
					var button_obj_m = firsttablechild.children().eq(0).children().children(); 	//第一个模块
					var id = button_obj_m.attr('id');
					if($.inArray(id,test_list) != -1){
						button_obj_m.attr('class','checked');//修正模块样式
						var tempidid = "#selected-test #"+id;
						if(typeof($(tempidid).attr('disabled')) != "undefined"){
							button_obj_m.attr('disabled',true);//修正模块不可点击
						}
					};
					var button_obj_p_l = firsttablechild.children().eq(1).children();	//每行所有的功能点
					var button_obj_p_first = button_obj_p_l.eq(0);		//每行第一个功能点
					for(var j=0;j<button_obj_p_l.length-1;j++){
						var button_obj_p = button_obj_p_first.children();	//功能点
						var id_p = button_obj_p.attr('id');
						if($.inArray(id_p,test_list)!= -1){
							button_obj_p.attr('class','checked');//修正功能点样式
							var tempidid = "#selected-test #"+id_p;
							if(typeof($(tempidid).attr('disabled')) != "undefined"){
								button_obj_p.attr('disabled',true);//修正功能点不可点击
							}
						}
						button_obj_p_first = button_obj_p_first.next();
					};
					firsttablechild = firsttablechild.next();
				};
			});
		</script>
	</head>
<body>
<div style="float:left;background: #f5f5f5;padding-bottom: 3px;padding-top: 3px;position:relative;bottom:10px;">
	<div style="background: #f9f4d9;color:#8f7f5d;position:relative;padding: 4px 10px;font-size: 12px;">备注：点击相关项选中，再次点击取消选中；各模块及子模块之间相互独立，可选择多个。
	</div>
</div>
<table style="width:100%;padding:5px;" border="1" cellspacing="0">
	<thead>
		<tr>
			<th style="width:120px;height:40px;font-size:20px;">模块/分类</th>
			<th style="height:40px;font-size:20px;">子模块/子项</th>
		</tr>
	</thead>
	<tbody>
		{% for mode in mode_list %}
		<tr>
			<td>{% include 'include/modular.html' %}</td>
			<td>
				{% for point in point_list %}
					{% if point.modular.id == mode.id %}
						{% include 'include/point.html' %}
					{% endif %}
				{% endfor %}
				{% include 'include/add_point.html' %}
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td>
				{% include 'include/add_modular.html' %}
			</td>
			<td>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>